@use "../abstracts/" as *;

//----------- Skills Page ------------//
.skills {
  @include flex($direction: column, $justify: stretch, $gap: 40px);

  .title {
    font-weight: 700;
    font-size: $sizeH3;
  }

  .tech-skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;

    .skills-card {
      @include flex($direction: column, $align: flex-start, $gap: 20px);
      figure {
        max-width: 50px;
        max-height: 50px ;
        img{
          width: 100%;
        }
      }
      .text-wrapper {
        figcaption {
          font-size: $sizeH3;
        }
      }
    }
    @include mobile {
      grid-template-columns: 1fr;
      .skills-card {
        @include flex($direction: column, $gap: 30px, $align: center);
        figure {
          max-width: 100px;
        }
        .text-wrapper {
          align-items: center;
          span {
            text-align: center;
          }
        }
      }
    }
  }
}
