@use "../abstracts/" as *;

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 60px;
  .card {

    .btn {
      display: none;
    }

    .active {
      display: block;
    }
    
    @include flex($direction: column, $align: center);
    height: 100%;
    transition: all 0.3s ease;
    figure {
      width: 100%;
      height: auto;
      img {
        width: 100%;
        object-fit: fill;
      }
    }

    .text-wrapper {
      display: flex;
      flex-direction: column;
      figcaption {
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Giới hạn 3 dòng */
        -webkit-box-orient: vertical;
        overflow: hidden; /* Ẩn phần dư */
        font-weight: 600;
      }
      span {
        display: -webkit-box;
        -webkit-line-clamp: 4; /* Giới hạn 3 dòng */
        -webkit-box-orient: vertical;
        overflow: hidden; /* Ẩn phần dư */
      }
    }
  }
}
