@use "../abstracts/" as *;

// ---------- HEADER ---------------//
.container-header {
  background-color: $primary_color;
  @include flex($direction: column);
  gap: 100px;
  padding: 0 50px 50px 50px;
}
header {
  // desktop
  @include flex($justify: space-between, $align: center);

  .img-main {
    width: 20%;
  }

  nav {
    @include mobile {
      display: none;
    }
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0 24px;
    @include flex();
    figure {
      width: 5%;
    }
    ul {
      @include flex(
        $direction: row,
        $justify: space-between,
        $align: center,
        $gap: 2rem
      );
      li {
        list-style: none;
        @include flex($justify: space-between);
        position: relative;
        border-radius: 8px;
        padding: 0 10px;

        // tạo "khối nền" nhưng không ảnh hưởng layout
        &::after {
          content: "";
          position: absolute;
          inset: 0; // phủ đúng kích thước li
          background: $second_color;
          border-radius: 8px;
          opacity: 0;
          transform: scale(0.95);
          transition:
            opacity 0.2s ease,
            transform 0.2s ease;
          z-index: 0;
        }

        a {
          position: relative;
          z-index: 1; // chữ nằm trên "khối nền"
          display: inline-flex;
          align-items: center;

          text-decoration: none;
          color: $white;
          line-height: 42px;
          font-size: $sizeSub;
          white-space: nowrap;
          transition:
            transform 0.2s ease,
            color 0.2s ease;

          // &:hover::after {
          //   opacity: 1;
          //   transform: scale(1);
          // }

          &:hover {
            color: $second_color;
            transform: translateY(-2px);
          }
        }

        // Active/current page effect
        &.active a:hover {
          color: $white; // giữ nguyên màu chữ khi active
          transform: none; // không nhấc lên
          cursor: default; // optional
        }
        &.active::after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }

  .link-direct-mobile {
    display: none;
  }
}
@include tablet {
  header {
    .img-main {
      display: none;
    }
  }
}
// mobile
@include mobile {
  .img-main {
    width: 30%;
  }
  header {
    nav {
      display: none;
    }
    .link-direct-mobile {
      display: flex;
      justify-content: end;
    }
  }
}
