@use "../abstracts/" as *;

// ---------- Main Layout ---------------//
main {
  padding: 100px;
  @include flex($direction: column, $gap: 100px);
  @include tablet {
    padding: 30px;
  }
  @include mobile{
    gap: 50px;
    padding: 10px;
  }
}
